/* Component: 3D Button */
.btn { padding: 15px 25px; letter-spacing: 1px; border-radius: 5px; background-image: linear-gradient(-45deg, #00DCFF, #007cb6); min-width: 120px; display: inline-block; text-align: center; cursor: pointer; font-weight: bold; }
.btn:hover { background-image: linear-gradient(-45deg, #00bdda, #006a9b); }

/* Component: Automated Testing hero */
#automated-testing { color: white; background: url(../images/automated-testing-primary.jpg); background-size: cover;}
#automated-testing .section-title .text-highlight { color: var(--primary); display: block; font-size: clamp(32px, 3vw, 48px); }
#automated-testing .section-title { color: white; }
#automated-testing .intro-text { max-width: 800px; margin-top: 40px; margin-bottom: 40px; }

/* Component: Features */
#automated-features .features { display: grid; grid-template-columns: 1fr 1fr;}
#automated-features .feature .icon img { max-width: 80px; height: auto; }
#automated-features .main-content { background: var(--off-white); padding: 25px; margin-bottom: 20px; margin-right: 50px; }
#automated-features .feature .title { color: var(--primary-dark); margin-top: 5px; margin-bottom: 10px; }
#automated-features .feature .content { padding-bottom: 0 !important; margin: 0; }

/* Component: Benefits */
#automated-benefits { background: var(--primary-light); }
#automated-benefits .section-subtitle { color: var(--primary-dark); }
#automated-benefits .benefits { margin-top: 40px; position:relative; }
#automated-benefits .benefit { display: flex; align-items: flex-start; }
#automated-benefits .benefit img { max-width: 20px; height: auto; margin-right: 15px; position: relative; top: 3px; }

@media all and (max-width: 1000px) {
	#automated-features .main-content { margin-right: 0; }
	#automated-features .row { flex-direction: column; }
	.col { width: 100% !important; }
	#automated-features .features { grid-template-columns: 1fr; gap: 20px; }
	#automated-features .feature { text-align: center; }
}