.progress-circle {
	margin-top: 0px !important;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 30px !important;
}

.progress-circle .circle {
	margin: auto;
}

/* Blog image margin left */
.blog-img-ml figure{
	margin-left: 45px !important;
	margin-bottom: 15px !important;
	border-radius: 5px;
}

/* Mobile menu fix - The problem exists in the core theme (Andaman) */
@media all and (max-width:1000px) {
	.menu-responsive.mobile {
		
	}
	
	.menu-responsive.mobile .burger_andaman_menu_overlay_normal {
		background:black;
	}
	
	.menu-responsive.mobile  .burger_andaman_menu_vertical {
		position:relative;
		transform:none;
		text-align:left;
		margin-top:110px;
		top:0;
	}
	
	.menu-responsive.mobile .menu-item:not(:last-of-type) {
		border-bottom: 2px solid #111;
	}
	
	.burger_andaman_menu_vertical::-webkit-scrollbar {
		width: 10px;
	}
	
	.burger_andaman_menu_vertical::-webkit-scrollbar-track {
		background: #222;
	}
	
	.burger_andaman_menu_vertical::-webkit-scrollbar-thumb{
		background: #4cafe1;
	}
	
	.burger_andaman_menu_vertical::-webkit-scrollbar-thumb:hover {
		background: #39A3D9;
	}
	
	.menu-responsive.mobile .menu-item {
		padding-left:20px;
		padding-right:20px;
	}
	
	.menu-responsive.mobile .menu-item:not(.menu-item-has-children):hover {
		background:#222;
	}

	.menu-responsive.mobile .menu-item:not(.menu-item-has-children) > a {
		display:block;
		width:100%;
		cursor:pointer !important;
	}
	
	.menu-responsive.mobile .menu-item-has-children > a::after {
		font-size:16px;
		display:inline-block;
		transform:rotatez(-90deg);
		transition:transform 0.2s;
	}
	
	.menu-responsive.mobile .menu-item-has-children.expanded > a::after {
		transform:rotatez(0);
	}
}

/*Weird error on homepage, hiding it */
p.wpdberror {
	visibility: hidden;
}

.sp-pcp-readmore {
	background: linear-gradient(30deg, #21d4fd, #4cafe1) !important;
	border-radius: 10px !important;
	display: inline-block !important;
}

.sp-pcp-post {
	border: 4px solid !important; 
	border-radius: 10px !important;
	border-image-slice: 1 !important; 
	border-image-source: linear-gradient(135deg, #21D4FD 0%, #4cafe1 75%) !important; 
	padding: 20px 20px 20px 20px !important;
	margin: 5px !important;
}

/* class for Footer links */
.hover-blue:hover {
	color: #21d4fd !important;
}


/*Fixing blog post thumbnail aspect ratio issue */
.post-thumbnail img {
	object-fit: cover;
}

.fix-testimonial-ratio .testimonials-image img {
	visibility: hidden;
}

.cover-banner {
	background-size: cover;
}

a.blog-heart {
	display: none !important;
}

p a {
	color: #4cafe1 !important;
}

p a:visited {
	color: #194789 !important;
}

a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

.portfolio-overlay .caption {
		display: none;
}

.portfolio-overlay {
	background: rgba(0, 0, 0, 0) !important;
}

.pricing_tables_name {
	margin-bottom: -30px !important;
}

.float-boxes {
	background: linear-gradient(-15deg, #d0f0fb 50%, #fff 50%);
}

.float-boxes-horizontal {
	background: linear-gradient(180deg, #d0f0fb 50%, #f9fafc 50%);
}

.float-boxes-reverse {
	background: linear-gradient(15deg, #d0f0fb 50%, #f9fafc 50%);
}

.float-boxes-switched {
	background: linear-gradient(15deg, #f9fafc 50%, #d0f0fb 50%);
}

/* TR Orange diagonal gradient background */
.orange-gradient {
	background: linear-gradient(30deg, #ffa125, #ff8000);
}

/* Helm Andaman Blues diagonal gradient background */
.blue-gradient {
	background: linear-gradient(30deg, #21d4fd, #4cafe1);
}

.blue-gradient-rounded {
	background: linear-gradient(30deg, #21d4fd, #4cafe1);
	border-radius: 10px;
}

.light-blue-bkgd-rounded {
	background: #caf3fc;
	padding: 25px;
	border-radius: 10px;
}

.cover-picture {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.white-shadow-box {
	padding: 40px 20px 30px 20px; 
	background-color: #fff; 
	border-radius: 7px; 
	border-color: #ddd; 
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, .05);	
}

.blue-border-box {
	border: 4px solid; 
	border-radius: 50px;
	border-image-slice: 1; 
	border-image-source: linear-gradient(135deg, #21D4FD 0%, #4cafe1 75%); padding: 20px 20px 20px 20px;
	margin: 5px;
}

.blue-border-box-no-padding {
	border: 4px solid; 
	border-radius: 50px;
	border-image-slice: 1; 
	border-image-source: linear-gradient(135deg, #21D4FD 0%, #4cafe1 75%);
}

.orange-border-box {
	border: 4px solid; 
	border-radius: 7px;
	border-image-slice: 1; 
	border-image-source: linear-gradient(135deg, #ffa125 0%, #ff8000 75%); padding: 20px 20px 20px 20px;
	margin: 5px;
}

.h360-latest-posts div.post-thumbnail img {
	height: 240px;
}

.h360-latest-posts div.blog-wrap > ul.post-meta {
	
}

.h360-latest-posts .post-meta > li:nth-of-type(2):after {
	content:'';
	display:none;
}

.h360-latest-posts .blog-name a {
	line-height: 135%;
}

.h360-latest-posts .post-meta > li:last-of-type {
	display:block;
	padding:0;
	color:#AAA;
}

.h360-latest-posts div.blog-wrap > div.blog-name {
	
}

.h360-latest-posts div.blog-wrap > div.blog-text {
	height: 120px;
}

div.scroll-btn.wow.fadeInDown.animated a.page-scroll span.mouse {
	display: none;
}

#icon_wrapper {
	top: 40% !important;
}

@media (max-width:990px) {
	.menu-flex {
		height: 50px !important;
	}
	
	.menu-flex .logo a img {
		height: 30px !important;
	}
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.intro-body {
	max-width: 100% !important;
}

#jarallax-container-0 {
	max-width: 100% !important;
}
 
/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

@media only screen and (max-width : 480px) {
.vc_row {
	padding-top:0 !important;
	padding-bottom:0 !important;
}
	
	
.container > .vc_row.wpb_row.vc_row-fluid.andaman_full_row_vc {
	  max-width: 100vw !important;
  }
	.intro.jarallax > .intro-body > .container {
		width: 100vw !important;
	}
	.intro a {
		max-width: 300px !important;
		white-space: normal;
	}
	.container > .vc_row.wpb_row.vc_row-fluid.andaman_full_row_vc:first-child > .wpb_column.vc_column_container.vc_col-sm-12:first-child > .vc_column-inner:first-child {
		padding-left: 0px !important;
	}
	#jarallax-container-0 > div {
		left: 0px !important;
	}
}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

.blog-img-ml figure{
	margin-left: 15px !important;
	margin-bottom: 10px !important;
	border-radius: 5px;
}
}